
/* Estilos para el menú desplegable */

.navbar-toggler-icon {
    color: #d62e2e; /* Color del icono de la hamburguesa */
}

.navbar-nav .nav-link {
    color: #fff; /* Color de los enlaces del menú */
}

main.container {
    margin-top: 120px;
    margin-bottom: 50px; /* Distancia en la parte inferior de la pantalla */
    background-color: #acf3c9; /* Color de fondo deseado */
    padding: 30px; /* Espacio interior para separar el contenido del borde */
    border-radius: 10px; /* Bordes redondeados para la sección */
}

.logo2 {
    display: inline-block;
    text-decoration: none;
}

.logo-imgs {
    width: 180px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Para mantener la proporción de la imagen */
}
