body{
    background-color: #30394f;
    color: aliceblue;
}
a{
    color: #3b71fe;
}
h1{
    text-align: center;
}
.contenido{
    text-align: center;
}
table{
    margin: auto;
    width: 30%;
}
.contenedor {
    display: flex;
    justify-content: center;
}
label{
    margin-top: 20px;
}
input{
    margin-bottom: 20px;
}