/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 100%; /* Ancho máximo del contenedor */
    width: 320px; /* Ancho inicial del contenedor */
    margin: 50px auto; /* Centrar el contenedor en la página */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group {
    position: relative;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.social-login {
    text-align: center;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

/* Estilos específicos para el formulario de inicio de sesión */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    max-width: 100%; /* Ancho máximo del formulario */
    width: 280px; /* Ancho inicial del formulario */
    margin: 10% auto; /* Centrar el formulario verticalmente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form h6 {
    color: red;
    margin-top: 5px;
}

a {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media queries para hacer el formulario responsive */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    form {
        width: 90%;
    }
}
