
.Centrar,a{
    text-align: center;  
    margin-bottom: 20px;    
}
.user-actions {
    margin-left: 595px;
    margin-top: -20px;
}
a {
    text-decoration: none;
    padding: 5px 10px; 
    border-radius: 10px; 
    background-color: #aaa8a8;
    color: black;
}

a:hover {
    background-color: #e0e0e0; 
    color: white;
}
input{
    background-color: rgb(255, 6, 6);
}

.actions-right {
    display: inline-block; /* Asegura que los elementos estén en línea */
}
.contenedor {
    width: 70%;
    margin: 0 auto;
    padding: 40px;
    background-color: #acf3c9;
    border-radius: 30px;
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.contenedor:hover {
    transform: scale(1.05); 
}
.user-item{
    margin-bottom: 15px;
}
h1{
    text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
}
.salir{
    background-color: rgb(0, 0, 0);
    color:white;
}




